# Editor/IDE
.vscode/
.vs/
.idea/

# Top-level virtualenv (if any)
/venv/

# Top-level build (if any)
/build/

# Project-specific ignores
/build/
/.venv/
/**/__pycache__/
/**/logs/

# CMake artifacts (general)
**/CMakeFiles/
**/CMakeCache.txt

